body._lock {
	overflow: hidden;
}

.header__wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.header__container {
	position: relative;
	padding: 0 10px;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 90px;
}

.header__logo {
    height: fit-content;
}

.header__logo img {
	width: 100px;
    padding: 10px 0;
}

.menu__icon {
	display: none;
}

.menu__list {
	gap: 30px;

}

.menu__list > li {
	position: relative;
	margin-left: 20px;
}

.menu__link {
	text-decoration: none;
    color: #F3FEFF;
    font-size: 18px;
    padding-bottom: 15px;
}

.menu__link:hover {
	border-bottom: 5px solid #F3FEFF;
}

.menu__sub-link {
	color: #fff;
}

.menu__sub-link:hover {
	text-decoration: underline;
}

.menu__arrow {
	display: none;
}

body._pc .menu__list > li:hover {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}

body._touch .menu__link {
	flex: 1 1 auto;
}

body._touch .menu__arrow {
	position: relative;
    top: 2px;
    left: -5px;
	display: block;
	width: 0;
	height: 0;
	margin-left: 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(180deg);
}

.menu_submenu-link .menu__link:hover{
	border-bottom: 0;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
	position: relative;
	left: 40px;
	padding: 0;
}

body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}

body._touch .menu__list > li.menu_submenu-link {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 150px;
}

.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #000;
	padding: 15px;
	min-width: 245px;
}

.menu__sub-list li {
	margin-bottom: 10px;
}

.menu__sub-list li:last-child {
	margin-bottom: 0px;
}

@media (min-width: 915px) {
	.menu__list {
		display: flex;
		align-items: center;
	}

	.menu__list > li {
		padding: 10px 0;
	}

	.menu__sub-list {
		transform: translate(0, 10px);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 915px) {
	.menu__list {
		position: relative;
		padding-top: 20px;
		border-top: 1px solid grey;
		margin-top: 10px;
	}

	.menu__list > li {
		margin-left: 10px;
	}

	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__sub-list {
		position: relative!important;
		background-color: #fff;
		flex: 1 1 100%;
		margin-top: 20px;
		display: none;
		left: 93px!important;
		padding: 10px!important;
		font-size: 16px;
		min-width: 315px;
	}
	.menu__icon {
		z-index: 6;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		top: 10px;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -130%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 0;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body._active {
		left: 0;
		top: 0;
	}

	.menu__body::before {
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 90px;
		background: 0;
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}

	.menu__link {
		font-size: 24px;
		padding-bottom: 0;
	}

	.menu__sub-link {
		font-size: 20px;
		color: #000;
		text-decoration: none;
	}

	.header__logo img {
		position: absolute;
        top: -5px;
		z-index: 5;
	}
}

@media (max-width: 350px) {
	.menu__sub-link {
		font-size: 18px;
	}	

	.menu__sub-list {
		left: 76px!important;
		min-width: 280px;
	}
}