@page
@model BusLiner.MVC.Areas.Administration.Pages.Users.UpdateUserModel

<div class="manage-account__content-option-email_change manage-account__content-option-email_change-resend">
    <div class="manage-account__content-option-email_change-title">Редагування користувача</div>
    <hr />
    <div class="manage-account__content-option-email_change-wrap manage-account__content-option-email_change-wrap-resend manage-account__content-admin">
        <form method="post">
            <input type="hidden" asp-for="UserCommand.Id"/>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="UserCommand.Email" class="form-label">Email</label>
                <input asp-for="UserCommand.Email" class="form-control" aria-required="true" />
            </div>
            <span asp-validation-for="UserCommand.Email" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="UserCommand.Password" class="form-label">Новий пароль(опційно)</label>
                <input asp-for="UserCommand.Password" class="form-control" aria-required="true" />
            </div>
            <span asp-validation-for="UserCommand.Password" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="UserCommand.EmailConfirmed" class="form-label">Підтвердити email</label>
                <select asp-for="UserCommand.EmailConfirmed">
                    <option value="False">Ні</option>
                    <option value="True">Так</option>
                </select>
            </div>
            <span asp-validation-for="UserCommand.EmailConfirmed" class="text-danger admin-validation"></span>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="UserCommand.Role" class="form-label">Роль</label>
                <select asp-for="UserCommand.Role">
                    @foreach (GetAllRolesDto role in Model.Roles)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </select>
            </div>
            <span asp-validation-for="UserCommand.Role" class="text-danger admin-validation"></span>
            <button type="submit" class="manage-account__content-option-email_change-wrap-form-submit">Редагувати</button>
        </form>
    </div>
</div>
