@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Підтвердження скидання паролю";
}

<div class="confirmation">
    <div>
        <h1 class="confirmation__title">@ViewData["Title"]</h1>
        <p>
            Перевірте свою електронну пошту, щоб змінити пароль.
        </p>
    </div>
</div>
