@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забули свій пароль?";
}

<div class="manage-account__content-option-email_change manage-account__content-option-email_change-resend">
    <div class="manage-account__content-option-email_change-title">@ViewData["Title"]</div>
    <hr />
    <div class="manage-account__content-option-email_change-wrap manage-account__content-option-email_change-wrap-resend">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="manage-account__content-option-email_change-wrap-form-input">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="manage-account__content-option-email_change-wrap-form-submit">Скинути пароль</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
