@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<div class="confirmation">
    <div>
        <h1 class="confirmation__title">@ViewData["Title"]</h1>
        <p>
            Будь ласка, перейдіть за посиланням, яке прийшло на ваш email, щоб підтвердити свій аккаунт.
        </p>
    </div>
</div>

