@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження скидання пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль скинуто. <a asp-page="./Login">Натисніть тут, щоб увійти</a>.
</p>
