@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження скидання пароля";
}

<div class="confirmation">
    <div>
        <h1 class="confirmation__title">@ViewData["Title"]</h1>
        <p>
            Ваш пароль скинуто. <a asp-page="./Login">Натисніть тут, щоб увійти</a>.
        </p>
    </div>
</div>
