<main class="about">
    <div class="about__title">Про нас</div>
    <div class="about__container">
        <div class="about__text_wrap">
            <div class="about__body">
                <p class="about__body-paragraph">Busliner - це інноваційна компанія, яка займається міжнародними пасажирськими перевезеннями з 2010 року. Ми спеціалізуємося на забезпеченні клієнтам високоякісних послуг з перевезення, які забезпечують комфорт і безпеку наших пасажирів.</p>
                <p class="about__body-paragraph">Ми пропонуємо різноманітні маршрути та варіанти перевезень, включаючи автобуси, мікроавтобуси, лімузини та інші види транспорту. Ми підтримуємо регулярні маршрути в багатьох країнах Європи, а також працюємо з індивідуальними замовленнями.</p>
                <p class="about__body-paragraph">Наша команда складається з досвідчених професіоналів, які знають, як забезпечити максимальний комфорт та безпеку пасажирів. Ми дотримуємося високих стандартів якості та безпеки, тому наші клієнти можуть бути впевнені в тому, що їх перевезення будуть проведені на найвищому рівні.</p>
                <p class="about__body-paragraph">Наша мета полягає в тому, щоб забезпечити нашим клієнтам найбільш зручне та надійне перевезення. Ми стежимо за тим, щоб наші автобуси та інший транспорт були завжди в ідеальному стані та готові до поїздки. Ми прагнемо забезпечити нашим клієнтам перевезення, які не тільки задовольняють їх потреби, але й перевершують їх очікування.                </p>
                <p class="about__body-paragraph">З нашої багаторічної діяльності, ми знаємо, що для багатьох людей подорож - це більше, ніж просто пересування з одного місця в інше. Вона може бути незабутньою подією, яка запам'ятається на все життя. Тому ми прагнемо зробити кожну подорож нашого клієнта максимально комфортною та приємною.</p>
                <p class="about__body-paragraph">Ми не тільки забезпечуємо високоякісні перевезення, але й допомагаємо нашим клієнтам у вирішенні різних організаційних питань. Наприклад, ми можемо допомогти з бронюванням готелів, квитків на заходи, та інших послуг.</p>
                <p class="about__body-paragraph">Ми прагнемо дотримуватися індивідуального підходу до кожного клієнта, тому ми завжди відкриті до співпраці та готові до діалогу. Наша команда професіоналів стежить за новинами та тенденціями у галузі перевезень, щоб надавати нашим клієнтам тільки найкращі послуги та створювати для них максимально комфортні умови.</p>
                <p class="about__body-paragraph">Ми цінуємо довгострокові стосунки з нашими клієнтами та партнерами, тому створюємо для них привабливі умови співпраці. Якщо вам потрібно надійне та комфортне перевезення в Європі, зверніться до Tesseras і ми з радістю допоможемо вам забезпечити якісні послуги, які задовольнять ваші потреби та очікування.</p>
                <p class="about__body-paragraph">Якщо у вас є питання або ви хотіли б дізнатися більше про наші послуги, будь ласка, зв'яжіться з нами. Ми завжди раді допомогти нашим клієнтам.</p>
            </div>
        </div>
        <div class="about__pictures">
            <div class="about__pictures-picture"><img src="~/images/about-1.jpg" alt="Picture 1"></div>
            <div class="about__pictures-picture"><img src="~/images/about-2.jpg" alt="Picture 2"></div>
            <div class="about__pictures-picture"><img src="~/images/about-3.jpg" alt="Picture 3"></div>
        </div>
    </div>
</main>