<div class="order-complete">
    <div class="order-complete__wrap">
        <div class="order-complete__wrap_title">
            Вітаємо з покупкою квитка!
        </div>
        <div class="order-complete__wrap_body">
            Дякуємо за вибір нашої компанії та довіру, яку ви проявили до нас. Ми завжди прагнемо забезпечити нашим пасажирам комфортну та безпечну подорож. <strong>Вам на пошту прийшов лист з інформацією про квиток</strong>. Пам'ятайте, що ваш квиток дійсний лише разом з цим листом, тому будьте певні, що маєте його при собі під час поїздки. Якщо у вас виникнуть питання або потрібна додаткова допомога, будь ласка, зверніться до нас. Бажаємо вам приємної поїздки!
        </div>
    </div>
</div>