@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="manage-account">
    <div class="manage-account__title">Керування аккаунтом</div>
    <div class="manage-account__subtitle">Змініть налаштування свого аккаунту</div>
    <hr />
    <div class="manage-account__content">
        <div class="manage-account__content-nav">
            <partial name="_ManageNav" />
        </div>
        <div class="manage-account__content-option">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
