@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="manage-account__content-option-password_change">
    <div class="manage-account__content-option-password_change-title">@ViewData["Title"]</div>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="manage-account__content-option-password_change-wrap">
        <form id="change-password-form" class="manage-account__content-option-password_change-wrap-form" method="post">
            <div class="manage-account__content-option-password_change-wrap-form-input">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword"></span>
            </div>
            <div class="manage-account__content-option-password_change-wrap-form-input">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" aria-required="true" />
                <span asp-validation-for="Input.NewPassword"></span>
            </div>
            <div class="manage-account__content-option-password_change-wrap-form-input">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <button type="submit" class="manage-account__content-option-password_change-wrap-form-submit">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
